{:pom {:group-id "org.danielsz"
       :artifact-id "cohere"
       :version "1.0.0"
       :name "cohere"}
 :packaging {:uberjar
             {:enabled true
              :build-properties {:main-class "cohere.core"}
              :excludes {:artifacts ["org.clojure:google-closure-library" "com.google.javascript:closure-compiler"]
                         :filters ["META-INF/*.SF" "META-INF/*.DSA" "META-INF/*.RSA"]}
              :include-source false
              :obfuscation {:enabled false}}
             :jar {:enabled false}}
 :interactive {:enabled true
               :reload-on-save true
               :tools-deps-alias :repl
               :repl-port :auto
               :repl-host "127.0.0.1"
               :proxy {:enabled true,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}}}
 
 :profiles {:enabled true
            :development {:cohere-api-key "LghNYUI6REdWynYUYdhUzIKSijgZkuOR2yy4CPR3"
                          :cohere-api-url "https://api.cohere.ai/v1"}
            :production {}}}
